.features {
  @include flex(wrap, column, space-between, flex-start);
  margin: 60px auto;
  height: 410px;
  align-content: space-between;

  @media (max-width: 940px) {
    flex-direction: row;
  }
}

.features-slider-block {
  flex-grow: 1;
  max-width: 620px;
  @include flex(wrap, row, space-between, flex-start);
}

.features-block {
  max-width: 300px;
}

.icon-right {
  display: flex;
  flex-direction: column;

  .features-tools-icon span {
    display: none;
  }

  @media(max-width: 940px) {
    display: inline;
    margin: 0 auto;
    padding-top: 20px;
    max-width: 620px;

    :first-child {
      margin-right: 16px;
    }

    .features-delivery {
      width: 620px;

      .features-tools-icon span {
        display: block;
        margin-right: -20px;
      }
    }
  }
}

.features-item {
  width: 300px;
  height: 123px;
  display: block;
  padding: 0 22px 0;
  color: $white;
  text-decoration: none;
  margin-bottom: 20px;
  font-family: $cu;
  background: #3bbce3;
  display: inline-flex;
  justify-content: space-between;
  text-decoration: none;

  .par p:nth-child(1) {
    font-size: 24px;
    margin-bottom: 14px;
  }

  .par p:nth-child(2) {
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 22px;
    text-align: center;
    width: 135px;
    text-transform: uppercase;
    margin: 0;
  }

  .features-tools-icon {
    display: flex;
    padding: 34px 31px 28px;
  }

  @media (max-width: 600px) {
    flex-direction: column;
    width: 100%;
  }
}

.features-materials {
  background: #ffbf47;
}



.features-technics {
  background: #dc91d8;
}

.features-discounts {
  background: #8ed78f;
}

.features-delivery {
  background: #ffc047;
}

.features-slider {
  width: 100%;
  max-width: 620px;
  height: 265px;

  @media (max-width: 940px) {
    order: -1;
    max-width: 100%;
  }
}

.two-features {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 620px;

  @media (max-width: 940px) {
    margin: 0 auto;
  }

  // @media (max-width: 600px) {
  //   flex-direction: column;
  //   width: 100%;
  //   justify-content: center;
  // }
}

.three-features {
  @media (max-width: 940px) {
    display: flex;
    margin: 0 auto;
    // width: 100%;
    // max-width: 620px;
  }

  @media (max-width: 600px) {
    flex-direction: column;
    width: 100%;
  }
}



.feature-new {
  position: relative;

  overflow: hidden;

  span {
    text-transform: uppercase;
    color: $white;
    font-size: 14px;
    font-family: $cu;
    background: $red;
    transform: rotate(45deg);
    width: 100px;
    height: 30px;
    display: block;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 5px;
    right: -30px;
  }
}

.slider {
  max-width: 620px;
  outline: none;
  position: relative;


  .features-slider {
    display: flex;
    flex-direction: column;
    color: $white;
    position: relative;

    img {
      position: absolute;
      z-index: -1;
    }

    :nth-child(1) {
      text-transform: uppercase;
      font-family: $cu;
      font-style: 700;
      font-size: 36px;
      margin: 23px 0 5px 24px;

    }

    :nth-child(2) {
      font-family: $cu;
      font-style: 700;
      font-size: 18px;
      margin: 0 0 113px 24px;
    }

    input {
      width: 192px;
      height: 32px;
      background-color: $red;
      color: $white;
      border: none;
      text-transform: uppercase;
      font-family: $cu;
      font-size: 14px;
      margin-left: 24px;
      padding: 10px 0;
      cursor: pointer;
      outline: none;
    }
  }

  .slick-arrow {
    position: absolute;
    top: 50%; // выравнивание по вертикали
    margin: -15px 0 0 0; // корректировка  вертикального выравнивания
    z-index: 5; // стрелки сверху картинок
    // font-size: 0; // убираем надпись на дефолтной стрелке
    width: 22px; // ширина стрелки
    height: 40px; // высота стрелки
    padding: 0px 20px; // поля между стрелкой и краем слайдера
  }

  .next {
    //класс задан в javascript для замены стандартной кнопки
    right: 20px;
    cursor: pointer;
  }

  .prev {
    //класс задан в javascript для замены стандартной кнопки
    cursor: pointer;
  }

  @media(max-width: 940px) {
    margin: 0 auto;
  }
}